/*	John Williams
	Project: MIU
	March 6, 2012
	Week 1
	The Flower Shop
*/

html {
    background: #9393b7;
    width: 100%;
}

body {
    font-family: Verdana, Geneva, sans-serif;
    color: #555555;
}

a	{ 
	text-decoration:none; /*meaningful commit */
}

p {
    margin: 1.5em 0;
}

h1 {
    background-color: #fd989c;
/*    color: #f1f1f1; Don't need anymore. Added logo class to handle. */
	text-decoration: none;
    padding: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;    
}

h2 {
    background-color: #2d2137;
    color: #f1f1f1;
	text-decoration: none;    
    padding: 5px;
    margin: 5px 0px 5px 0px;    
	-moz-border-radius: 5px;
	border-radius: 5px;   
}

h2:hover {
    background-color: #fce2c1;
    color: #2d2137;
	text-decoration: none;    
    padding: 5px;
    margin: 5px 0px 5px 0px;    
	-moz-border-radius: 5px;
	border-radius: 5px;
}

fieldset {
	background: #eeeeee;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;	

}

label {
	display: block;
	padding: 2px;
}

legend {
	font-weight: bold;
}

ul { 
	list-style:none;
	background: #f1f1f1;
	padding: 10px;
	margin-top: 15px;
	-moz-border-radius: 5px;
	border-radius: 5px; 	
}

#errors {
	font-weight: bold;
	color: #ff0000;
}

.button {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;
}

.button2 {
	background: #333333;
	color: #f1f1f1;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 10px;	
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
}

.button2:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	width: 100%;
	padding: 6px;
	margin-top: 5px;
	margin-bottom: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;
}

.float_r {
	background: #333333;
	color: #f1f1f1;
	font-size: 15px;
	border: 2px #808080;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
}

.float_r:hover {
	background: #cccccc;
	color: #555555;
	font-size: 15px;
	border: 2px #808080;
	padding: 6px;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-decoration: none;
	float: right;
	-moz-box-shadow: 2px 2px 1px #888;
	-webkit-box-shadow: 2px 2px 1px #888;
	box-shadow: 2px 2px 1px #888;
	text-decoration: none;	
}

.footer_nav {
	color: #555555;
	font-size: 12px; 
	font-weight: bold;
	text-transform: uppercase;

}

.logo {
	font-family:Tahoma, Geneva, sans-serif; /* over-ride default font */
	color: #ffffff;
    background: #2d2137 url(../images/logo.png)no-repeat top left;/*meaningful commit*/
    margin: 0 0 10px 0;
    text-indent: 45px;
    text-align: center;
}

.extra {
	margin: 5px;
}

.whitespace {
	background: #fd989c;
	padding: 10px;
	margin-top: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
}

.size {
	width: 65%;
	margin: 5px;
}

.cta {
	margin: 5px;
}

/*Meaningful Commit - Breadcrumbs*/

#breadcrumbs {
    padding: 0;
    margin: 0px;
    height: 30px;
    font: bold 14px/30px arial; /* line-height MUST be the same as height */
    list-style-type:none;
    background: #fce2c1;
	margin-top: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;    
}
#breadcrumbs li {
    float: left; /*ie6/7 needs this */
}
#breadcrumbs a {
    float: left;
    position:relative;
    padding: 0 20px 0 10px;
    color: #000000;
    text-decoration: none;
    outline: none;
}
#breadcrumbs a.odd { /*meaningful commits for rounded corners on breadcrumbs*/
    background: #fd989c;
	margin-top: 5px 0 0 5px; 	
	-moz-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;    
}
#breadcrumbs span {
    position: absolute;
    display: block;
    line-height: 0px;
    height: 0px;
    width: 0px;
    right: 0px;
    top: 0px;
    border-left: 10px solid #CCCCCC;
    border-right: none;
    border-top: 15px solid #e9e9e9;
    border-bottom: 15px solid #e9e9e9;
}
#breadcrumbs a.odd span {
    border-left: 10px solid #fd989c;
    border-top: 15px solid #fce2c1;
    border-bottom: 15px solid #fce2c1;
}

